PROJECT_ENV=dev

# Inputs
INPUT_FILE_PATH=./data_samples/input.csv
API_URL=https://example.com/api
API_TIMEOUT_SEC=20

# Output local
OUTPUT_DIR=./out

# Cloud selection
CLOUD_PROVIDER=gcp

# GCP
GCP_PROJECT_ID=your-project-id
GCP_REGION=us-central1
GCS_BUCKET=your-bucket
GCS_PREFIX=final_project

# BigQuery (si gold en BQ)
BQ_DATASET=final_project
BQ_TABLE_GOLD=gold_metrics
GOOGLE_APPLICATION_CREDENTIALS=/path/to/sa.json
